.happy-box {
    .movie-box {
        .title {
            display: flex;
            justify-content: space-between;
        }
        .list {
            display: flex;
            li {
                margin-right: 20px;
                width: 300px;
                div {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 180px;
                    overflow: hidden;
                    border-radius: 10px;
                    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.3);
                }
                p {
                    width: 100%;
                    margin-top: 30px;
                    display: flex;
                    align-items: baseline;
                    justify-content: space-between;
                    span:nth-child(1) {
                        font-size: 16px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}