.happy-box {
    .movie-box {
        .title {
            display: flex;
            justify-content: space-between;
            h3 {
                margin: 0;
            }
            .arrows {
                span {
                    color: #ccc;
                    font-size: 26px;
                }
            }
        }
        .list {
            position: relative;
            margin-top: 20px;
            height: 226px;
            overflow: hidden;
            ul {
                position: absolute;
                top: 0;
                display: flex;
                margin: 0 -10px;
                transition: left 1s;
                li {
                    float: left;
                    margin: 0 10px;
                    width: 300px;
                    div {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 180px;
                        overflow: hidden;
                        border-radius: 10px;
                        box-shadow: 0 0 8px 2px #ccc;
                    }
                    p {
                        width: 100%;
                        margin: 20px 0 0 0;
                        display: flex;
                        align-items: baseline;
                        justify-content: space-between;
                        span:nth-child(1) {
                            font-size: 16px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
    .below-box {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        .video {
            .list {
                margin-top: 10px;
                ul {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    width: 805px;
                    li {
                        position: relative;
                        flex: 1;
                        .icon {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 48px;
                            height: 48px;
                            border-radius: 100%;
                            background: rgba(255, 255, 255, 0.3);
                        }
                        img {
                            width: 180px;
                            height: 180px;
                            border-radius: 8px;
                        }
                    }
                }
            }
        }
        .music {
            width: 450px;
            h3 {
                margin: 0;
            }
            .list {
                margin-top: 10px;
                height: 210px;
                overflow-y: auto;
                li {
                    display: flex;
                    align-items: center;
                    padding: 10px 15px;
                    border-radius: 10px;
                    background-color: #f7f7f7;
                    img {
                        margin-left: 10px;
                        width: 50px;
                        height: 50px;
                        border-radius: 4px;
                    }
                    .txt {
                        flex: 1;
                        margin-left: 10px;
                        p {
                            margin: 0;
                            &:nth-child(1) {
                                font-size: 16px;
                            }
                            &:nth-child(2) {
                                color: #999;
                                font-size: 12px;
                            }
                        }
                    }
                    .duration {
                        margin-right: 30px;
                        font-size: 12px;
                    }
                }
                li + li {
                    margin-top: 10px;
                }
            }
        }
    }
}