.login-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #F2F5FF;
}
.login-form {
  padding: 35px 40px;
  width: 440px;
  border-radius: 6px;
  background-color: #fff;
}
h2 {
  margin-bottom: 40px;
  color: #38547D;
  text-align: center;
}
.ant-form-item {
  width: 100%;
}
.ant-input-affix-wrapper {
  height: 46px;
  border: 1px solid #eee;
  border-radius: 4px;
}
.ant-btn {
  width: 100%;
  height: 46px;
  border-radius: 4px;
}
.ant-input-prefix {
  margin-right: 10px;
  color: #1890ff;
}